:root {
    --violet: #40295E;
    --blue: #13222E;
    --white: #F5F5F5;
    --black: #1A1A1A;
    --gray: #5A5A5A;
    --yellow: #E3C200; 
    --line-height: 1.6;
    --font-size-base: 1rem;
    --font-size-md: clamp(0.625rem, 0.305vw + 0.55rem, 0.79rem);
    --font-size-lg: clamp(0.975rem, 0.625vw + 0.82rem, 1.32rem);
    --font-size-xl: clamp(1.525rem, 1.4875vw + 1.15625rem, 2.34375rem);
    --font-family: 'Arial', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    background-color: var(--violet);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
  }
  
  .display { 
    background-color: var(--white);
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .numbers {
      display: inline-block;
    }

    .dragon {
      display: inline-block;
    }

    #result {
      text-align: right;
      color: var(--gray);
      font-size: var(--font-size-base);
      border: none;
    }

    #input {
      text-align: right;
      color: var(--black);
      font-size: var(--font-size-xl);
      border: none;
    }
  }
  
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: var(--font-size-lg);
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--gray);
    color: var(--white);
    transition: background-color 0.3s, transform 0.1s;
  }
  
  button:hover {
    background-color: var(--yellow);
    color: var(--black);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .operator {
    background-color: var(--yellow);
    color: var(--black);
  }
  
  .operator:hover {
    background-color: var(--white);
  }

  .anchor {
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
  }
  
  .double {
    grid-column: span 2;
  }